@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
body
{
	margin:0;
	padding: 0;
	
	font-family: 'Crimson Text', arial, serif;
	font-size:120%;
	background-image: url('pattern.png');
	background-repeat:repeat;
	color: #fff;
	text-shadow:0px -1px  #012EA0;
}

#wrap
{
	margin:0 auto;
	width:590px;     
	text-align:center;
}               

#wrap h1
{  
	font-size:3.3em;
	text-align:center; 
	text-shadow: 0px -2px #012EA0;
	margin-bottom:10px;
}   

#footer p a
{
	text-decoration:none;
	color:#DBFFFF;
}                 

#footer p a:hover
{
	text-decoration:underline;
	color:#91FF8D;
}

#wrap h1 a
{
	text-decoration:none;
	color:#fff;
}              

#wrap h1 a:hover
{
	text-decoration:underline;
}

#wrap p
{
	text-align:center;
}

#results
{
	position:relative;   
	margin:0 auto;  
	width:auto;
	border:1px solid #012EA0;
	border-radius:5px;
	padding:15px;
	max-width:350px;
	padding-top:35px;
	z-index:-10;   
	margin-top:60px;                       
	-webkit-box-shadow:inset 2px 2px 3px rgba(100, 100, 100, .4);  
	-moz-box-shadow:inset 2px 2px 3px rgba(100, 100, 100, .4); 
	margin-bottom:30px;           
   
    
}  

#results input[type="text"]
{
	padding: 5px;  
	font-size: 15px;  
    text-shadow: 0px 1px 0px #fff;  
    outline: none;  
    background: -webkit-gradient(linear, left top, left bottombottom, from(#F1F1F1), to(#ffffff));  
    background: -moz-linear-gradient(top,  #F1F1F1,  #ffffff);  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    border: 1px solid #333;  
    -webkit-box-shadow: 1px 1px 0px #eee;  
    -moz-box-shadow: 1px 1px 0px #eee;  
    box-shadow:  1px 1px 0px #eee;  
	min-width:300px;
	
}

#results span
{
	display:block;
	z-index:0;
}

#results h1
{
	position:absolute;
	top:-20px;
	left:10px;                
	font-size:1.3em;
	color:#fff;
	text-transform:uppercase;
	z-index:0;
}

#results span label
{
	display:block;
	z-index:0; 
	margin-top:10px;
}